.navegacion{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.subtitulo{
    margin: 15px;
    padding: 0;
    color:white
}
.titulointerno{
    font-size: 24px;
    padding: 0 0 0 20px;
    color:white
}
.contenedor{
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
}
.Imagen{
    float: right;
    margin: 0 0 20px 20px;
    max-width: 25%;
    height: 25%;

}
.Imagen2{
    float: left;
    margin: 0 20px 20px 0px;
    max-width: 25%;
    height: auto;
}
.parrafo{
    color: white;
}