.navegacion{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.contenedor{
    width: 80%;
    margin: 20px auto;
}


table{
    border-collapse: collapse;
    border: 2px solid rgb(0, 0, 0);
    letter-spacing: 1px;
    font-size: 1.5rem;
    background-color: rgb(211, 222, 154);
    width: 100%;

}
th
    th{
        text-align: left;
        border: 1px solid rgb(0, 0, 0);
        padding: 10px;
        
    
    }
    td{
        border: 1px solid rgb(1, 1, 1);
        padding: 10px;
        text-align: center;
    }
    h2{
        margin: 0;
        padding: 30px;
        color: white;
    }

    hr {
        margin: 0px;
        color: gold;
    }


tr:nth-child(even) {
    background-color:rgb(211, 222, 154);
}

tr:nth-child(odd) {
    background-color:#0ac480;
}

tr:hover {
    background-color: #00ffa2;
}
