body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: linear-gradient(45deg, #8383d3,#3a3ac2, black);
    padding: 0;
    margin: 0;
    padding-bottom: 100px;
    
}

header{
    text-align: center;

}
.active{
    background: linear-gradient(360deg, #8383d3,#3a3ac2, black);
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
li{
    float: left;

}
li a{
    display: block;
    color: #fff;
    text-align: center;
    padding: 15px;
    text-decoration: none;

}
li:hover :not(.active){
    background-color: #111;


}
h1{
    background-color: #111;
    padding: 10px;
    margin: 0;
    color:#fff;
}
footer{
    background-color: #333;
    color: #fff;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}